/** GENERAL STYLES **/

html {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
}

.site-container {
  width: 960px;
  position: absolute;
  left: 10%;
}

/** FONT STYLES **/

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

/** HEADER STYLES **/

header {
  text-transform: uppercase;
  width: 100%;
  height: 1.5rem;
  padding: 0.66rem 0;
  display: flex;
  background-color: black;
}

header .title {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.title  {
}

#banner {
  background-image: url(/Users/olistuart/Documents/Projects/secretagentsupply/resources/images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

#banner-text {
  background-color: black;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
}

#banner-text h2 {
  margin-bottom: 0.25rem;
}
