/** GENERAL STYLES **/

html {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.site-container {
  width: 960px;
  margin-left: 10%;
}

/** FONT STYLES **/

p {
  color: black;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

a {
  color: white;
}

h1, h2, h3 {
  background-color: black;
}

/** HEADER STYLES **/

header {
  text-transform: uppercase;
  width: 100%;
  height: 1.5rem;
  padding: 0.66rem 0;
  display: flex;
  background-color: black;
}

header .title {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.title  {
}

#banner {
  background-image: url(/Users/olistuart/Documents/Projects/secretagentsupply/resources/images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

#banner-text {
  background-color: black;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
}

#banner-text h2 {
  margin-bottom: 0.25rem;
}

/** NAVIGATION STYLES **/

nav {
  width: 100%;
  background-color: firebrick;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li {
  display: inline-flex;
  width: auto;
  height: auto;
  padding: 0.75rem 3% 0.75rem 0;
  margin: 0;
}

/** PRODUCT GRID STYLES **/

.product-grid {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.product {
  width: 30%;
  overflow: hidden;
}

.product-image {
    border: 4px solid black;
    padding: 2em 0;
    height: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
  max-width: 8em;
}

.product h3 {
  padding: 0.5rem 0;
  text-align: center;
}

/** LOCATION & HOURS STYLES **/

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact {
  width: 35%;
  margin-bottom: 4rem;
}

.contact p {
  padding: 0.5rem 0;
}

.contact h3 {
  padding: 1rem 0 1rem 2rem;
}

/** FOOTER STYLES **/

footer {
  height: 5rem;
  background-color: black;
}

footer p {
  color: white;
  padding: 2rem 0;
}
